html {
    background-color: black;
    background-image: url(https://apod.nasa.gov/apod/image/2211/wr18_woronow_960.jpg);
}

.navbar {
    margin-top: 25px;
    text-align: center;
}

header {
    background-color: rgba(255, 255, 255, 0.613);
}
 h1 {
    position: relative;
    top: 25px;
    color: black;
 }

 #card-placement{
    background-color: rgba(255, 255, 255, 0.613);
    margin-top: 55px;
 }

 textarea {
    margin-left: 10px;
    margin-right: 50px;
    resize: none;
 }

 .button-primary{
    margin: 0;
    position: relative;
    top: 78%;
    left: 41%
 }

 label {
    margin-left: 3px;
 }
